<%- include("partials/header"); -%>

<h1>Compose</h1>

  <form class="" action="/compose" method="post">

    <div class="form-group">
      <label for="">Title</label>
      <input type="text" name="postTitle" class="form-control">
      <label for="">Post</label>
      <textarea name="postBody" rows="4" cols="80" class="form-control"></textarea>
    </div>

    <button class="btn btn-primary" type="submit" name="button">Publish</button>
  </form>



<%- include("partials/footer"); -%>
